/* BACKGROUND */
body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg, #0aad0a, #36d36d);
  font-family: 'Segoe UI', sans-serif;
}

/* LOGIN BOX */
.admin-login-container{
  background:#fff;
  padding:40px;
  border-radius:15px;
  width:320px;
  text-align:center;
  box-shadow:0 15px 40px rgba(0,0,0,0.2);
}

/* TITLE */
.admin-login-container h2{
  color:#0aad0a;
  margin-bottom:5px;
}

/* SUBTEXT */
.subtitle{
  font-size:13px;
  color:gray;
  margin-bottom:20px;
}

/* INPUT */
.admin-login-container input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #ccc;
  outline:none;
  transition:0.3s;
}

.admin-login-container input:focus{
  border-color:#0aad0a;
}

/* BUTTON */
.admin-login-container button{
  width:100%;
  padding:12px;
  margin-top:15px;
  border:none;
  border-radius:8px;
  background:#0aad0a;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.admin-login-container button:hover{
  background:#088a08;
}